.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-profile-color);
    height: 50px;
    width: 100%;
}

.header p {
    color: white;
    font-weight: bold;
    font-size: 30px;
    /* flex-grow: 1; */
    position: absolute;
    text-align: center;
    /* border: 2px solid green; */
}

.header div:last-of-type {
    justify-content: flex-end;
}

.inquiry-area {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inquiry {
    text-decoration: none;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid var(--main-contents-color);
    background-color: #7bc5f3;
}

.inquiry:hover {
    background-color: #639cbe;
}

.inquiry:active {
    background-color: #639cbe;
}

.inquiry p {
    color: white;
    /* -webkit-text-stroke: 1px black; */
    /* 1ピクセルの黒のアウトライン */
    font-size: smaller;
}