.contents {
    justify-content: center;
    text-align: center;
    background-color: var(--main-contents-color);
    height: 100%;
    padding-top: 50px;
    z-index: 0;
}

h1,
hr {
    margin: 20px 0;
}

/*
トップ
Top-introduction
*/

.Top-introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.face {
    border: solid 3px black;
    height: 300px;
    width: 300px;
    min-width: 150px;
    min-height: 150px;
    margin: 0 50px 0 0;
    border-radius: 50%;
    background-color: rgb(204, 204, 204);
}

.face img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile {
    text-align: left;
    color: var(--main-font-color);
}

.profile p {
    position: relative;
    overflow: hidden;
    font-size: 1.2em;
    margin-bottom: 1.1em;
}

.profile p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* 下線の幅 */
    height: 2px;
    /* 下線の太さ */
    background-color: black;
    /* 下線の色 */
    transform: scaleX(0);
    /* 初期状態では見えない */
    transform-origin: bottom left;
    /* 拡大縮小の基点を左下に設定 */
    transition: transform 0.5s ease;
    /* アニメーションの速度とイージング */
}

.profile:hover p:hover::after {
    transform: scaleX(1);
    /* 下線を表示 */
}


/*
Top-profile-table
*/
.Top-profile-table {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

table,
tr,
td {
    border: 2px solid black;
}

table tr td:last-of-type {
    text-align: left;
    color: var(--main-font-color);
}

td {
    padding: 5px;
    font-size: 1.5em;
}


/*
Top-avlang
*/
.Top-avlang {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Top-avlang div {
    margin: 0 1em;
    padding: 0.8em 1em;
    border: 2px solid black;
    border-radius: 10%;
    background-color: rgb(238, 127, 83);
    color: rgb(255, 244, 236);
    font-size: 1.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* アニメーションの滑らかさを調整 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 初期の影 */
    transform: translateY(0);
    /* 初期状態では持ち上げない */
}

.Top-avlang div:hover {
    transform: translateY(-10px);
    /* 少し持ち上げる */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* 影をより大きく、少し濃くする */
}

.Top-avlang div h3 {
    margin-bottom: 10px;
}

.Top-avlang div li {
    text-align: left;
}

/*
Top-favorite-word
*/
.Top-favorite-word {
    position: relative;
}

.favorite-btn {
    font-size: 1.3em;
}

.favorite-word {
    margin-top: 10px;
}

.favorite-word-selected {
    margin-top: 10px;
    min-height: 50px;
    background-color: rgb(175, 168, 159);
    display: flex;
    justify-content: center;
    align-items: center;
}

.already-memo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 20px;
    color: #f74848;
}

.already-List {
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 0;
}

.card {
    background-color: var(--main-contents-color);
    padding: 5px 0;
}